node_modules
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
*.md
.vscode
.idea
.cursor
test
*.spec.ts
*.log
.temp
.tmp
Dockerfile*
docker-compose*
.dockerignore
eslint.config.mjs
.prettierrc
